.sidebar{
	background: rgba(0, 0, 0, .5);
	padding: 35px 0 50px 0;
	width: 100%;
	margin-bottom: 50px;
	.sidebar_logo{
		width: 100%;
		text-align: center;
		padding: 0 0 40px;
	}
}
.sidebar_subscribe{
	position: relative;
	margin-top: 50px;
	p{
		margin: 0;
		padding: 0;
	}
	form{
		margin-top: 30px;
	}
}
.sidebar_carousel{
	position: relative;
	width: 100%;
	margin: 10px auto 0;
	.owl-nav{
		display: none;
	}
	.owl-prev{
		width: 15px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 0;
		margin-left: -23px;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 12px;
			width: 12px;
			height: 2px;
			background: $main_color;
			@include rotate(45deg);
		}
		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 5px;
			width: 12px;
			height: 2px;
			background: $main_color;
			@include rotate(-45deg);
		}
	}
	.owl-next{
		@extend .owl-prev;
		left: 100%;
		margin-left: 12px;
		&:before{
			top: 5px;
		}
		&:after{
			top: 12px;
		}
	}
}